<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="csv-view">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <extensions>
        <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <php>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
</phpunit>
